<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng ở đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select aria-label="Choose an option" class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option value="1">Đồ điện tử</option>
            <option value="2">Hải sản</option>
            <option value="3">Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
                    architecto!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
                    architecto!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
                    architecto!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
                    architecto!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
                    architecto!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>